<nav class="navbar navbar-dark bg-primary">
  <a class="navbar-brand" href="/"> Crud Angular </a>
</nav>

<div class="container">
  <div class="row">
    <div class="col-md-8 mt-4">
      <ul class="list-group">
        <li
          *ngFor="let personaA of personaArray"
          class="list-group-item list-group-item-action"
          (click)="abrirEditar(personaA)"
          [class.active]="personaA == cpPersona"

          >
          <span class="badge badge-primary" style="color: black;">{{ personaA.id }} </span>
          {{ personaA.nombre }} - {{ personaA.apellido}} - {{ personaA.pais }}
        </li>
      </ul>
      <div class="card mt-4">
        <div class="card-body">
          <div class="card-title">
            Ingrega un nuevo empleado
          <div>

            <div class="form-group">
              <input type="text" [(ngModel)]="cpPersona.nombre" placeholder="Inserte un nombre" class="form-control">
            </div>

            <div class="form-group">
              <input type="text" [(ngModel)]="cpPersona.apellido" placeholder="Inserte un apellido" class="form-control">
            </div>

            <div class="form-group">
              <input type="text" [(ngModel)]="cpPersona.pais" placeholder="Inserte un pais" class="form-control">
            </div>

            <button (click) = "aggEditar()" class="btn btn-primary">
              Enviar
            </button>

            <button
            *ngIf="cpPersona.id != 0"
            class="btn btn-danger"
            (click)="eliminar()"
            >
              Eliminar
            </button>

          </div>

          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <img
        width="400"
        alt="Angular Logo"
        src= {{champion}}
      />
    </div>
  </div>
</div>
